<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            [logo here]
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item active">
                <a class="nav-link text-white" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="/about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Store</a>
                <div class="dropdown-menu categories" aria-labelledby="navbarDropdown">
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="/contact.html">Contact</a>
                </li>
            </ul>
            <div class="text-end">
                <a class="nav-link text-white" href="/cart.html"><i class="bi bi-cart"></i><span class="cartCount badge bg-primary ms-2"></span></a>
                <a class="nav-link text-white" href="/wishlist.html"><i class="bi bi-heart"></i></a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 accountNav"></ul>
            </div>
        </div>
    </div>
</header>
<br>